section {
  //   padding: 0 50px;
  max-width: 1440px;
  margin: auto;

  .Carrousel {
    width: 100%; // Pour occuper la largeur disponible
  }
  .Entete-HostGlobal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 450px;

    .Entete {
      display: flex;
      flex-direction: row;
      gap: 440px;
      // margin: 0 50px;
      // width: 1240px;
      // margin: 0 100px;
      // align-items: center;
      // justify-content: space-around;
    }
    .GlobalLogement {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 635px;
      margin-left: 100px;
    }
    .TitreLogement {
      // display: flex;
      width: 635px;
      font-size: 36px;
      color: #ff6060;
      margin-bottom: 5px;
    }
    .Location {
      font-size: 18px;
      color: #ff6060;
    }
  }
  // .Entete {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 440px;
  //   // margin: 0 50px;
  //   // width: 1240px;
  //   // margin: 0 100px;
  //   // align-items: center;
  //   // justify-content: space-around;
  // }
  // .GlobalLogement {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   width: 635px;
  //   margin-left: 100px;
  // }
  // .TitreLogement {
  //   // display: flex;
  //   width: 635px;
  //   font-size: 36px;
  //   color: #ff6060;
  //   margin-bottom: 5px;
  // }
  // .Location,
  .HostSemiGlobal {
    display: flex;
    flex-direction: row;
  }
  .Host {
    font-size: 18px;
    color: #ff6060;
    width: 83px;
    padding-top: 10px;
  }
  .HostGlobal {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // margin-top: 50px;
    width: 164px;
    // margin-right: 20px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .MenuAccordeon {
    display: flex;
    flex-direction: row;
    // max-width: 1240px;
    // width: 100%;
    justify-content: space-between;
    // gap: 0px;
    //margin: 0px 50px 50px;
    // margin-left: 100px;
    margin: 30px 100px 50px;
    gap: 76px;
  }
  .CollapseHeader {
    width: 552px;
    // height: 52px;
    // gap: 76px;
  }
  .CollapseContent {
    max-width: 552px;
  }
}
@media screen and (max-width: 376px) {
  .Carrousel {
    height: 255px;
  }
  .Entete-HostGlobal {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Entete {
    flex-direction: column;
    align-items: center;
    // text-align: center;

    .GlobalLogement {
      margin-bottom: 15px;
    }

    .HostGlobal {
      margin-top: 15px;

      .Host {
        margin-bottom: 5px;
      }

      .HostPicture {
        width: 100%; // Pour occuper la largeur disponible
        max-width: 150px;
        border-radius: 10px;
      }
    }
  }

  .TitreLogement {
    font-size: 24px;
  }

  .slideshow {
    // width: 335px;
    // height: 255px;
    margin: auto;
  }

  .prev img,
  .next img {
    width: 11.67px;
    height: 19.8px;
  }

  .counter {
    display: none;
  }

  .Tag {
    margin-left: 0;
  }

  .TagItem {
    font-size: 10px;
    width: 115px;
  }
  .MenuAccordeon {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 27px;
  }
  .CollapsHeader {
    width: 325px;
  }

  // .CollapseItem {
  // //   display: flex;
  // //   flex-direction: column;
  // //   width: 100%;
  // //   justify-content: space-between;
  // // }
}
