.slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  height: 415px;
  margin-left: 100px;

  img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
  }
  .prev {
    position: absolute;
    left: 25px;
    bottom: 140px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 46px;
      height: 79px;
    }
  }

  .next {
    position: absolute;
    right: 25px;
    bottom: 140px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 46px;
      height: 79px;
    }
  }

  .counter {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 376px) {
  .slideshow {
    width: 335px;
    height: 255px;
    margin: auto;
    .prev img,
    .next img {
      width: 11.67px;
      height: 19.8px;
    }
    .counter {
      display: none;
    }
  }
}
