main {
  max-width: 1240px;
  margin: auto;
  .slideshow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    //margin-left: 100px;
    // margin-right: 100px;
  }

  // button {
  //   position: absolute;
  //   /* top: 50%; */
  //   /* left: 40px; */
  //   width: 47px;
  //   height: 79px;
  //   border: none;
  //   background-color: transparent;
  //   cursor: pointer;
  //   font-size: 100px;
  //   color: greenyellow;
  //   transform: translateY(-50%);
  //   // padding: 10px;
  // }

  .prev {
    position: absolute;
    left: 25px;
    bottom: 140px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 46px;
      height: 79px;
    }
  }

  .next {
    position: absolute;
    right: 25px;
    bottom: 140px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 46px;
      height: 79px;
    }
  }
  // button:first-child {
  //   left: 270px;
  // }

  // button:last-child {
  //   right: 10px;
  // }
  img {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }

  .counter {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
}

@media screen and (width: 769px) {
  // .counter {

  //   bottom: 15px;

  // }
}
