header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .kasa-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 68px;
    width: 210px;
    margin: 45px 100px 45px 100px;
    /*margin-top: 45px;
    margin-bottom: 45px;*/
    padding-top: 30px;
    padding-bottom: 30px;
  }

  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
      padding-top: 70px;
      gap: 57px;
      font-size: 24px;
      font-weight: 500;
      list-style-type: none;
      margin-right: 100px;
    }
    li {
      align-items: center;
    }
    .nav-link.active {
      text-decoration: underline;
      color: #60ff95;
    }
    .nav-link {
      color: #ff6060;
    }
  }
}
/* focus ou visited pour que le lien reste lorsque l'UI a cliqué sur une page ?*/
