.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  border-radius: 25px;
  margin: auto;

  .overlay {
    position: absolute;
    text-align: center;
    justify-content: center;
    color: white; // Couleur du texte
    font-weight: medium;
    font-size: 28px;
  }
  .banner-image {
    width: 100%; // largeur de 100% pour remplir le conteneur parent "Banner"
    object-fit: cover;
    border-radius: 25px;
    max-height: 223px;
    margin: 10px 0 10px 0;

    // "filter" permet d'ajouter un filtre pour assombrir l'image
    filter: brightness(70%);
  }
}
