.Card {
  position: relative;
  height: 340px;
  margin-right: 20px;
  margin-left: 20px;
  // width: calc(33.33% - 20px);
  // margin-bottom: 25px;
}

.CardImage {
  width: 100%; // La largeur de l'image doit être de 100% du conteneur
  height: 100%;
  object-fit: cover;
}
h3 {
  position: absolute;
  top: 80%; // Centrer verticalement le titre
  color: white;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
}
@media screen and (max-width: 376px) {
  h3 {
    top: 75%;
  }
}
