.star {
  position: relative;
  left: 1200px;
  bottom: 50px;
  color: #ff6060;
  font-size: 36px;
}

.star-vide {
  position: relative;
  left: 1200px;
  bottom: 50px;
  color: #e3e3e3;
  font-size: 36px;
}

// @media screen and (max-width: 376px) {
//   .star .star-vide {
//     left: 20px;
//   }
// }
