.star-global {
  display: flex;
  flex-direction: row;
  gap: 5px;

  .star,
  .star-vide {
    width: 36px; // taille par défaut
    height: 36px; // taille par défaut

    @media screen and (max-width: 376px) {
      width: 18px; // nouvelle taille pour la version mobile
      height: 18px; // nouvelle taille pour la version mobile
    }
  }

  .star-vide {
    // Ajoutez d'autres styles spécifiques pour les étoiles vides si nécessaire
    fill: #E3E3E3;
  }
}
