.element-no-found {
  color: #ff6060;
  text-align: center;
}
.NoMatch {
  display: block;
  font-size: 288px;
  margin-block-start: 139px;
  // margin-block-end: 139px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
// #sidebar {
//   display: flex;
//   margin-left: 700px;
// }
.page-inconnue {
  display: block;
  font-size: 36px;
  font-weight: 600px;
  /* margin-block-start: 36px;*/
  margin-block-end: 139px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.back-home {
  font-size: 18px;
  color: #ff6060;
}

@media screen and (max-width: 376px) {
  .NoMatch {
    display: block;
    font-size: 96px;
  }
  .page-inconnue {
    font-size: 18px;
  }
  .back-home {
    font-size: 14px;
  }
}
