.CollapseItem {
  /*border: 1px solid #ddd;*/
  margin-bottom: 30px;
}

.CollapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #ff6060;
  width: 1023px;
  height: 54px;
  border-radius: 10px;
}
.CollapseContent {
  padding: 10px;
  // width: 1023px;
  background-color: #f6f6f6;
  list-style-type: circle;
}
h2 {
  font-size: 24px;
  color: white;
}
.Arrow {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
