.CollapseItem {
  /*border: 1px solid #ddd;*/
  margin-bottom: 30px;
}

.CollapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #ff6060;
  width: 1023px;
  height: 54px;
  border-radius: 10px;
}
.CollapseContent {
  padding: 20px 0px 20px 20px;
  width: 1023px;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 5px;
  // list-style-type: circle;
}
h2 {
  font-size: 24px;
  color: white;
}
.Arrow img {
  width: 24px;
  height: 14px;
}
@media screen and (max-width: 376px) {
  .CollapsHeader {
    width: 335px;
  }
  .CollapseItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}
